/Debug
/Release
/x64
/TestQJS/Release
/TestQJS/Debug
/TestQJS/x64
/QJS/x64
/QJS/Debug
/QJS/Release
/.vs
/TestQJS/*.aps
/QJS/Win32
/TestQJS/Win32
/Win32
/Test/x64
/Test/Win32
/Test/1.bin
/SampleExtend/x64
/SampleExtend/Win32
/JsExtends/JsExtendBase/x64
/JsExtends/JsExtendPath/x64
/JsExtends/JsExtendReg/x64
/JsExtends/JsExtendFile/x64
/JsExtends/JsExtendBase/Win32
/JsExtends/JsExtendFile/Win32
/JsExtends/JsExtendPath/Win32
/JsExtends/JsExtendReg/Win32
/JsExtends/JsExtendBase/*.aps
/JsExtends/JsExtendDebugger/x64
/JsExtends/JsExtendDebugger/Win32
/JsExtends/JsExtendDebugger/*.aps
/CSharp/QJSharpTest/bin
/CSharp/QJSharpTest/obj
/CSharp/QJSharp/bin
/CSharp/QJSharp/obj
